.div-chart{
  width: 68%;
  height: 90%;
}

.wind-container{
  height: 90%;
}

.full-widgets{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80%;
}


.btn-reset{
  font-family: U-Regular;
  color: white;
  background-color: #314CB6;
}

.btn-reset:hover{
  background-color: #6975E5;
}

.select-container{
  margin-top: 50px;
  margin-left: 2%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 10rem;

}


.select-type-btn{
  font-family: U-Regular;
  color: white;
  background-color: #314CB6;
}

$color3: #B8B8B8;

.tableFixHead {
  scrollbar-width: none;
  margin-top: 40px;
  max-height: 90%;
  width: 350px;
}
.tableFixHead thead th {
  position: static;
  top: 0px;
  background: white;
  text-align: center;
}

td{
  font-family: U-Regular;
  text-align: center;
}



//
//.container-data{
//  display: flex;
//  justify-content: center;
//  margin-top: 25px;
//  width: 300px;
//  height: 80%;
//  overflow: auto;
//}




