.div-chart{
  width: 60%;
  height: 90%;
}

.wind-container{
  height: 90%;
}

.full-widgets{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80%;
}


.btn-reset{
  font-family: U-Regular;
  color: white;
  background-color: #314CB6;
}

.btn-reset:hover{
  background-color: #6975E5;
}

.select-container{
  margin-top: 70px;
  margin-left: 2%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container{
  display: flex;
  height: 30px;
}


.select-type-btn{
  font-family: U-Regular;
  color: white;
  background-color: #314CB6;
}


$color3: #B8B8B8;

.tableFixHead {
  overflow-y: auto;
  height: 100%;

}
.tableFixHead thead th {
  position: sticky;
  top: 0px;
  background: white;
}

td{
  font-family: U-Regular;
}


.container-data{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 300px;
  height: 100%;
}

.my-data{
  height: 80%;
  margin-top: 20px;
}


